Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: Alexey Popov <cciev2005@gmail.com>
Description: [[description]]
Distribution: development
Depends: default-jre | openjdk-7-jre 
